.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80vw;

  height: 85vh;
  overflow: auto;
}

.dark-trending-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80vw;
  background-color: #181818;
  height: 85vh;
  overflow: auto;
}

.trending-banner-section {
  background-color: #e2e8f0;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.dark-column-center-container {
  display: flex;
  background-color: #181818;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.dark-trending-banner-section {
  background-color: #231f20;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.trending-video-list-container {
  background-color: #f1f1f1;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.dark-trending-video-list-container {
  background-color: #181818;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.trending-icon-box {
  background-color: #94a3b8;
  border-radius: 200px;
  padding: 15px;
  height: 60px;
  width: 60px;
  text-align: center;
  margin-left: 30px;
  margin-right: 15px;
}
.dark-trending-icon-box {
  background-color: #181818;
  border-radius: 200px;
  padding: 15px;
  height: 60px;
  width: 60px;
  text-align: center;
  margin-left: 30px;
  margin-right: 15px;
}

.trending-icon {
  color: red;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 767px) {
  .trending-container {
    width: 100vw;
    height: 90vh;
  }

  .dark-trending-container {
   
    width: 80vw;
    height: 90vh;
  }

  
  .dark-column-center-container {
    
    height: 90vh;
  }
  
}
